<%= form_with(model: indicator) do |form| %>
  <% if indicator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(indicator.errors.count, "error") %> prohibited this indicator from being saved:</h2>

      <ul>
        <% indicator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
