<p style="color: green"><%= notice %></p>

<%= render @indicator %>

<div>
  <%= link_to "Edit this indicator", edit_indicator_path(@indicator) %> |
  <%= link_to "Back to indicators", indicators_path %>

  <%= button_to "Destroy this indicator", @indicator, method: :delete %>
</div>
